@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
